.article-excerpt {
  // margin-bottom: 1rem;
  padding: 1rem 0 0.8rem 0;
  @media (max-width: 992px) {
    margin: 2rem 0;
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
    :global {
      .code-box {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
  :global {
    .article-title {
      color: #010101;
      cursor: pointer;
      font-weight: 400;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      a {
        color: #010101;
        font-size: inherit;
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: left;
        font-weight: bold;
      }
    }
    .article-info {
      margin-bottom: 1rem;
      font-size: 0.9rem;
      > span {
        display: inline-block;
        margin-right: 10px;
        color: rgb(153, 153, 153);
      }
    }
    .article-abstract {
      font-weight: 400;
      font-size: 1rem;
      line-height: 2rem; // margin-bottom: 20px;
      blockquote {
        border-left: 2px solid #1abc9c;
        background: #f6f6f6;
        color: #555;
        font-size: 1.2rem;
        margin: 1.5em 0;
        p {
          margin: 0 0;
        }
      }
      @media (max-width: 550px) {
        pre {
          // margin-left: -20px;
          // margin-right: -20px;
          border: none;
          border-radius: 0;
          code {
            letter-spacing: 0.2px;
          }
        }
      }
      pre {
        max-height: 35em;
        overflow: auto;
        width: 100%;
        padding: 1em;
        border: none;
        line-height: 1.45;
        position: relative;
        white-space: pre;
        background: url(../../assets/code-bac.png) #f6f6f6;
        background-size: 30px, 30px;
        font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
        code {
          overflow-wrap: normal;
          line-height: 1.45;
          background: none;
          white-space: pre;
          font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
        }
      }
      h2 {
        font-size: 1.75em;
        line-height: 1.5em;
        margin-top: 1.8em;
      }
      p {
        margin: 1em 0;
        line-height: 1.8;
        color: #333;
      }
    }
    .more {
      font-size: 12px;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      .read-more {
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.25s ease;
        display: inline-block;
        padding: 2px 3px;
        font-weight: 500;
      }
      .read-more:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 2px 7px;
      }
    }
  }
}
