html, body, :global(#root) {
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}
html{
  -webkit-tap-highlight-color: transparent;
}
body{
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  color: #333;
}

blockquote{
  font-size: 1.2rem;
}
blockquote p{
  font-size: inherit;
}

p{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #2f2f2f;
}

pre{
  margin: 1.5em 0;
  background-color: #f8f8f8;
  border-color: #f1f1f1;
}
code,pre {
  font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace;
}