<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>3L先生-个人博客</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="前端开发 JavaScript HTML Web前端 React" />
  <meta name="description" content="3L先生是个人博客网站，他想和你分享一些IT和人生中有趣的事情" />
  <meta name="author" content="廖伦灵" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.css">
  <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/github.css"> -->
  <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
  <style type="text/css">
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #333;
      background: #f8f8f8
    }

    .hljs-comment,
    .hljs-quote {
      color: #998;
      font-style: italic
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-subst {
      color: #333;
      font-weight: bold
    }

    .hljs-number,
    .hljs-literal,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-tag .hljs-attr {
      color: #008080
    }

    .hljs-string,
    .hljs-doctag {
      color: #d14
    }

    .hljs-title,
    .hljs-section,
    .hljs-selector-id {
      color: #900;
      font-weight: bold
    }

    .hljs-subst {
      font-weight: normal
    }

    .hljs-type,
    .hljs-class .hljs-title {
      color: #458;
      font-weight: bold
    }

    .hljs-tag,
    .hljs-name,
    .hljs-attribute {
      color: #000080;
      font-weight: normal
    }

    .hljs-regexp,
    .hljs-link {
      color: #009926
    }

    .hljs-symbol,
    .hljs-bullet {
      color: #990073
    }

    .hljs-built_in,
    .hljs-builtin-name {
      color: #0086b3
    }

    .hljs-meta {
      color: #999;
      font-weight: bold
    }

    .hljs-deletion {
      background: #fdd
    }

    .hljs-addition {
      background: #dfd
    }

    .hljs-emphasis {
      font-style: italic
    }

    .hljs-strong {
      font-weight: bold
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>